/*
*  width > 1200px
*/

  .html_width_1200{}


  .html_width_1200 .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .html_width_1200 .row:before,
  .html_width_1200 .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .html_width_1200 .row:after {
    clear: both;
  }
  .html_width_1200 [class*="span"] {
    /*float: left;*/
    margin-left: 30px;
  }
  .html_width_1200 .container,
  .html_width_1200 .navbar-static-top .container,
  .html_width_1200 .navbar-fixed-top .container,
  .html_width_1200 .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .html_width_1200 .span12 {
    width: 1170px;
  }
  .html_width_1200 .span11 {
    width: 1070px;
  }
  .html_width_1200 .span10 {
    width: 970px;
  }
  .html_width_1200 .span9 {
    width: 870px;
  }
  .html_width_1200 .span8 {
    width: 770px;
  }
  .html_width_1200 .span7 {
    width: 670px;
  }
  .html_width_1200 .span6 {
    width: 570px;
  }
  .html_width_1200 .span5 {
    width: 470px;
  }
  .html_width_1200 .span4 {
    width: 370px;
  }
  .html_width_1200 .span3 {
    width: 270px;
  }
  .html_width_1200 .span2 {
    width: 170px;
  }
  .html_width_1200 .span1 {
    width: 70px;
  }
  .html_width_1200 .offset12 {
    margin-left: 1230px;
  }
  .html_width_1200 .offset11 {
    margin-left: 1130px;
  }
  .html_width_1200 .offset10 {
    margin-left: 1030px;
  }
  .html_width_1200 .offset9 {
    margin-left: 930px;
  }
  .html_width_1200 .offset8 {
    margin-left: 830px;
  }
  .html_width_1200 .offset7 {
    margin-left: 730px;
  }
  .html_width_1200 .offset6 {
    margin-left: 630px;
  }
  .html_width_1200 .offset5 {
    margin-left: 530px;
  }
  .html_width_1200 .offset4 {
    margin-left: 430px;
  }
  .html_width_1200 .offset3 {
    margin-left: 330px;
  }
  .html_width_1200 .offset2 {
    margin-left: 230px;
  }
  .html_width_1200 .offset1 {
    margin-left: 130px;
  }
  .html_width_1200 .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .html_width_1200 .row-fluid:before,
  .html_width_1200 .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .html_width_1200 .row-fluid:after {
    clear: both;
  }
  .html_width_1200 .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .html_width_1200 .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .html_width_1200 .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .html_width_1200 .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .html_width_1200 .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .html_width_1200 .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .html_width_1200 .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .html_width_1200 .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .html_width_1200 .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .html_width_1200 .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .html_width_1200 .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .html_width_1200 .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .html_width_1200 .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .html_width_1200 .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .html_width_1200 .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }
  .html_width_1200 .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }
  .html_width_1200 .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }
  .html_width_1200 .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }
  .html_width_1200 .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }
  .html_width_1200 .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }
  .html_width_1200 .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }
  .html_width_1200 .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }
  .html_width_1200 .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }
  .html_width_1200 .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }
  .html_width_1200 .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }
  .html_width_1200 .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }
  .html_width_1200 .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }
  .html_width_1200 .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }
  .html_width_1200 .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }
  .html_width_1200 .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }
  .html_width_1200 .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }
  .html_width_1200 .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }
  .html_width_1200 .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }
  .html_width_1200 .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }
  .html_width_1200 .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }
  .html_width_1200 .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }
  .html_width_1200 .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }
  .html_width_1200 .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }
  .html_width_1200 input,
  .html_width_1200 textarea,
  .html_width_1200 .uneditable-input {
    margin-left: 0;
  }
  .html_width_1200 .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  .html_width_1200 input.span12,
  .html_width_1200 textarea.span12,
  .html_width_1200 .uneditable-input.span12 {
    width: 1156px;
  }
  .html_width_1200 input.span11,
  .html_width_1200 textarea.span11,
  .html_width_1200 .uneditable-input.span11 {
    width: 1056px;
  }
  .html_width_1200 input.span10,
  .html_width_1200 textarea.span10,
  .html_width_1200 .uneditable-input.span10 {
    width: 956px;
  }
  .html_width_1200 input.span9,
  .html_width_1200 textarea.span9,
  .html_width_1200 .uneditable-input.span9 {
    width: 856px;
  }
  .html_width_1200 input.span8,
  .html_width_1200 textarea.span8,
  .html_width_1200 .uneditable-input.span8 {
    width: 756px;
  }
  .html_width_1200 input.span7,
  .html_width_1200 textarea.span7,
  .html_width_1200 .uneditable-input.span7 {
    width: 656px;
  }
  .html_width_1200 input.span6,
  .html_width_1200 textarea.span6,
  .html_width_1200 .uneditable-input.span6 {
    width: 556px;
  }
  .html_width_1200 input.span5,
  .html_width_1200 textarea.span5,
  .html_width_1200 .uneditable-input.span5 {
    width: 456px;
  }
  .html_width_1200 input.span4,
  .html_width_1200 textarea.span4,
  .html_width_1200 .uneditable-input.span4 {
    width: 356px;
  }
  .html_width_1200 input.span3,
  .html_width_1200 textarea.span3,
  .html_width_1200 .uneditable-input.span3 {
    width: 256px;
  }
  .html_width_1200 input.span2,
  .html_width_1200 textarea.span2,
  .html_width_1200 .uneditable-input.span2 {
    width: 156px;
  }
  .html_width_1200 input.span1,
  .html_width_1200 textarea.span1,
  .html_width_1200 .uneditable-input.span1 {
    width: 56px;
  }
  .html_width_1200 .thumbnails {
    margin-left: -30px;
  }
  .html_width_1200 .thumbnails > li {
    margin-left: 30px;
  }
  .html_width_1200 .row-fluid .thumbnails {
    margin-left: 0;
  }





  /* nav search */
  .html_width_1200 .navbar .navbar-inner .navbar-search input.span3, 
  .html_width_1200 .navbar .navbar-inner .navbar-search textarea.span3,
  .html_width_1200 .navbar .navbar-inner .navbar-search .uneditable-input.span3 {
    width: 200px;
  }

  /* top menu */
  .html_width_1200 .m-navbar .navbar-inner ul.nav.pull-right li{
    max-width:278px;
  }


  .html_width_1200 .container,
  .html_width_1200 .navbar-static-top .container,
  .html_width_1200 .navbar-fixed-top .container,
  .html_width_1200 .navbar-fixed-bottom .container {
    width: 1170px;
  }

  /* home feature */
  .html_width_1200 .home-feature{
	  width:1150px;
  }
  .html_width_1200 .home-feature-item{
	  width:260px;
	  margin-left:20px;
  }


  /* footor */
  .html_width_1200 .footor-footor{
	  width: 1170px;
  }
  .html_width_1200 .footor-container{
	  width: 1170px;
  }
  .html_width_1200 .footor-item-first{
      margin-left:50px;
  }
  .html_width_1200 .footor-footor ul{
      margin-left:55px;
  }

  /* footor2 */
  .html_width_1200 .footor2-footor{
	  width: 1170px;
  }

  /* footor3 */
  .html_width_1200 .footor3-footor{
	  width: 1170px;
  }


/*** layout begin  ***/
  .html_width_1200 .main-1{
	  width:913px;
  }

  .html_width_1200 .main-1a{
	  width:973px;
  }

  .html_width_1200 .main-2{
	  width:913px;
  }

  .html_width_1200 .main-one{
	  width:1128px;
  }

/* for helps */
  .html_width_1200 .help-container {
    max-width: 970px;
  }
  .html_width_1200 .help-sidenav {
    width: 228px;
  }
  .html_width_1200 .help-sidenav > li > a {
    width: 200px \9; /* Override the previous IE8-9 hack */
  }


/* for question */
  .html_width_1200 .question-list .navbar input{
    width:850px;
  }



  /*** layout end  ***/












/*
*  width < 1000px
*/

    .html_width_1000 {}


    .html_width_1000 body {
        padding-top: 0px;
		width:1000px;
    }
    .html_width_1000 .navbar-fixed-top, .navbar-fixed-bottom {
	    position: relative;
	}

	.html_width_1000 .affix{
	    position: relative;
	}

	.html_width_1000 .help-sidebar{
	    width:178px;
	}

	.html_width_1000 .help-sidenav.affix{
	    top:0px;
	}





/*
*  Other css
*/

	.navbar-inner{
	    filter:none;
	}

	.form-horizontal .controls input{
		margin:0;
	}

/*
*  border-radius css
*/
.m-navbar .navbar-inner .nav .dropdown .dropdown-toggle span{
	position:relative;
	z-index:2;
	behavior: url(/ie-pie);
}
.m-navbar .navbar-inner .navbar-search input.span3, .navbar .navbar-inner .navbar-search textarea.span3, .navbar .navbar-inner .navbar-search .uneditable-input.span3 {
	position:relative;
	z-index:2;
	behavior: url(/ie-pie);
}

.navbar-inner {
	position:relative;
	z-index:2;
}

/*.btn {
	position:relative;
	z-index:2;
	behavior: url(/ie-pie);
}

.btn-group > .btn{
	behavior: none;
}*/


