@charset "utf-8";
/* CSS Document */

/**
 * date:2013-5-21 09:26:04;
 * explanation:申请成为旅伴;
 * author:johnchen@tag-along.org;
 * version:v1.0;
 */

/**
 * 流程类
 */
/*申请流程*/
.guide-step { height:35px; padding:0px 0px 0px 0px; margin-bottom:30px; overflow:hidden; }
.guide-step li { position:relative; float:left; width:25%; background-color:#efefef; line-height:35px; text-align:center; cursor:pointer; }
.guide-step li:after { position:absolute; top:0px; right:-22px; bottom:0px; content:""; width:22px; height:35px; background-image:url(../img/_icon-sprite.png); background-repeat:no-repeat; background-position:0px -682px; }
.guide-step .step-1 { z-index:5; }
.guide-step .step-2 { z-index:4; }
.guide-step .step-3 { z-index:3; }
.guide-step .step-4 { z-index:2; }

.guide-step .step-4:after { display:none; }
.guide-step .active { background-color:#0088cc; color:#ffffff; }
.guide-step .active:after { background-position:0px -738px; }

.guide-description,
.guide-congratulation { padding:0px 296px 0px 0px; margin:0px; color:#0088cc; }
.guide-description .dt,
.guide-congratulation .dt { font-weight:400; font-size:24px; text-transform:Capitalize; }

.guide-description { border-bottom:1px dashed #cdcdcd; }
.guide-description .dd { padding:20px 0px; margin:0px; line-height:1.75; color:#333333; }
.guide-congratulation .dd { padding:10px 0px; font-size:18px; margin:0px; line-height:1.5; }

.step-tips { padding:20px 0px; margin-bottom:30px; border-bottom:1px dashed #cdcdcd; color:#999999; }
.step-tips span { color:#333333; }

/**
 * 模块类
 */
/*每个模块的默认结构样式*/
.guide-mod { position:relative; padding:0px 296px 0px 0px; margin:20px 0px; }
.guide-mod:after { clear:both; display:block; content:""; line-height:0; }
.guide-mod .hd { position:relative; padding:10px 0px; }
.guide-mod .hd-t { font-weight:500; line-height:1; font-size:18px; }
.guide-tips {
	
	float:right; margin-right:-296px; position:relative; top:0px; right:0px; width:226px; padding:10px 20px; background-color:#efefef;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.05);
	box-shadow:0px 0px 2px rgba(0, 0, 0, 0.05);
}
.guide-tips p { padding:4px 0px; margin:0px; }
.guide-mod input,
.guide-mod select,
.guide-mod textarea { margin-bottom:0px; }

/*可提供服务的地方*/
.service-location .bd { position:relative; margin-top:10px; }
.service-location .img-map { width:100%; height:auto; }
.location-list { position:absolute; top:50px; right:4.54545%; bottom:50px; left:4.54545%; }
.location-list li { position:relative; padding:5px 10px; margin:10px 0px; background-color:#ffffff; border:1px solid #cdcdcd; border-radius:3px; }
.location-list .i-remove { position:absolute; top:50%; right:10px; margin-top:-9px; }
.location-list .operate { color:#0088cc; }
.location-list .operate:hover { color:#005580; }
/*点击添加地址后弹出一个浮层*/
.modal { width:800px; margin-left:-400px; }
.modal-body { min-height:400px; max-height:800px; }
.modal-body .search-mod { margin-bottom:0px; text-align:center; }
.modal-body .ui-input-wrap { margin-right:6px; vertical-align:1px; }
.modal-body .ui-input { width:664px; }
.modal-body .map { width:100%; height:200px; background-color:#efefef; }
.modal-body .view-location { padding-top:15px; }
.modal-body .map { float:left; width:550px; height:350px; border:1px solid #cdcdcd; overflow:hidden; }
.modal-body .result-location { overflow:hidden; height:350px; border:1px solid #afd9ee; border-left:none; }
.result-location .list { color:#0088cc; }
.result-location li { position:relative; padding:8px 8px 8px 30px; cursor:pointer; }
.result-location li:before {
	position:absolute; top:10px; left:8px; content:""; width:18px; height:18px;
	background:url(../img/_icon-sprite.png) no-repeat -3px -34px;
}
.result-location li:hover:before {
	-webkit-animation:bounce 1s .2s ease both;
	-moz-animation:bounce 1s .2s ease both;
}
.result-location .active { background-color:#efefef ; }
.result-location .example { color:#999999; font-style:italic; }
.result-location .example:before { background-position:-3px -5px; }


/*价格*/
.service-price .input-txt { width:120px; margin-right:10px; vertical-align:1px; }
.service-price .price { font-size:18px; color:#999999; }
/*宽松程度*/
.service-policy select { width:420px; }
/*服务描述*/
.service-description .input-area { width:646px; height:180px; min-width:646px; max-width:646px; min-height:180px; }
.service-description .guide-tips { margin-top:38px; }


/*完成基本注册后，到达最后一步*/
.guide-complete { margin-bottom:10px; }
.guide-complete .hd-t { font-size:18px; line-height:20px; }
.guide-complete .hd-t span { padding-right:10px; font-style:italic; font-weight:700; font-size:28px; }
.guide-complete .bd { padding:10px 36px; }
.guide-complete p { }
.guide-complete .tips { color:#999999; }

.itinerary-thumbnails { padding:0px 10px; }
.itinerary-thumbnails .ui-carousel-control.prev { left:-36px; }
.itinerary-thumbnails .ui-carousel-control.next { right:-36px; }
.thumbnails-list { }
.thumbnails-list .pic { cursor:pointer; }
.thumbnails-list .list-item { float:left; width:31.3333%; padding:0px 1%; }
.thumbnails-list .flag,
.thumbnails-list .opacity { position:absolute; display:none; }
.thumbnails-list .flag {
	top:50%; right:0; left:0; z-index:2; margin-top:-12px; text-align:center; font-size:24px; color:#ffffff; text-transform:Capitalize;
	text-shadow:0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);
}
.thumbnails-list .opacity {
	top:10px; right:10px; bottom:10px; left:10px; z-index:1; content:""; width:auto;
	background:#000000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5;
}
.thumbnails-list .list-item:hover .flag,
.thumbnails-list .list-item:hover .opacity { display:block; }
.thumbnails-list .followed .flag,
.thumbnails-list .followed .opacity { display:block; }


/**
 * 步骤类
 */
.navigation-step { padding:20px 0px; border-top:1px dashed #cdcdcd; text-align:right; }
.navigation-step .btn-guide-step { padding-left:40px; padding-right:40px; }
.navigation-step .skin { display:inline-block; padding:10px; font-size:20px; text-decoration:underline; }

