@charset "utf-8";
/* CSS Document */

/**
 * date:2013-5-29 16:00:58;
 * explanation:交易记录;
 */
.history-mod .hd { position:relative; padding:10px; border-bottom:1px solid #dddddd; }
.history-mod .hd-t { font-size:20px; line-height:30px; }
.history-mod .hd select { position:absolute; top:50%; right:10px; margin-top:-15px; margin-bottom:0px; }
.history-list { table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0px; text-align:left; }
.history-list th { padding:6px 10px; border-bottom:1px solid #dddddd; font-weight:400; text-align:left; }
.history-list td { padding:20px 10px; border-bottom:1px dashed #dddddd; vertical-align:top; }
.history-list .time { width:15%; }
.history-list .time span { padding-bottom:10px; display:block; }
.history-list td.user { padding-left:0px; padding-right:0px; padding-bottom:0px; }
.history-list th.user { width:78px; }
.history-list .user .ui-btn-small { display:block; padding-top:2px; padding-bottom:2px; margin-top:8px; }
.history-list .user-list-wrap { height:252px; overflow:hidden; }
.history-list .user-list { table-layout:fixed; width:100%; }
.history-list .user-list td { padding-top:0px; padding-bottom:14px; border:none; }
.history-list .pic { width:78px; text-align:center; }
.history-list td.status { color:#ff6600; }
.history-list .number { width:12%; }
.history-list .operate { width:15%; }
.history-list .operate a { display:block; margin-bottom:8px; text-transform:capitalize; }
.history-list .operate .ui-btn-small { width:80px; padding:3px 0px; }
.history-list .act-more { display:block; width:78px; padding-bottom:10px; text-align:center; cursor:pointer; }
.history-list .act-more:hover { text-decoration:none; }
/**
 * @overflow
 * @explanation:重新定义bootstrap popover的外观;
 */
.history-list .popover .arrow { margin-top:-6px; border-width:5px; }
.history-list .popover .arrow:after { right:0px; display:none\9; }
.history-list .popover-title { display:none; }
.history-list .popover-content { position:relative; padding:6px 14px 6px 26px; color:#0088cc; }
.history-list .popover-content:before {
	position:absolute; top:7px; left:6px; content:""; width:18px; height:18px;
	background-image:url(../img/_icon-sprite.png); background-repeat:no-repeat; background-position:-7px -33px;
}