@charset "utf-8";
/* CSS Document */

/*content layout*/
.content .col-side { float:left; width:230px; }
.content .col-main { padding-left:26px; overflow:hidden; }

/*主人模块*/
.masters-summary {
	border:1px solid #cdcdcd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.masters-summary .hd {
	height:44px; padding:0px 16px;
	-webkit-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	background:#3b3b3b; /* Old browsers */
	background:-moz-linear-gradient(top,  #3b3b3b 0%, #000000 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b3b3b), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #3b3b3b 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #3b3b3b 0%,#000000 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #3b3b3b 0%,#000000 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #3b3b3b 0%,#000000 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.masters-summary .hd-t { font-size:18px; line-height:44px; color:#ffffff; }
.masters-summary .bd { padding:10px; }

/*画廊*/
.pika-stage { width:678px; height:453px; }

/*评价*/
.rate-summary { height:90px; padding:0px 0px 52px 0px; margin:80px 0px 30px 0px; background-image:url(../img/bg-rate.jpg); background-repeat:no-repeat; background-position:center bottom; }
.rate-list { width:476px; height:90px; margin:0px auto; }
.rate-list li {
	float:left; width:90px; height:90px; background-image:url(../img/icon-rate.png); background-repeat:no-repeat;
	-webkit-transition:all 0.25s linear;
	-moz-transition:all 0.25s linear;
	-o-transition:all 0.25s linear;
	-ms-transition:all 0.25s linear;
	transition:all 0.25s linear;
}
.rate-list .like { background-position:0px 0px; }
.rate-list .mark { margin:-10px 100px 0px 100px; background-position:0px -90px; }
.rate-list .best { margin-top:-4px; background-position:0px -180px; }
.rate-list span { display:block; padding:44px 5px 0px 2px; text-align:center; font-size:20px; color:#ffffff; text-shadow:1px 1px 4px rgba(0, 0, 0, 0.5); }
.rate-list li:hover {
	-webkit-transform:translateY(-10px);
	-moz-transform:translateY(-10px);
	-o-transform:translateY(-10px);
	-ms-transform:translateY(-10px);
	transform:translateY(-10px);
}


/*边栏模块*/
.profile-side,
.masters {
	margin-bottom:10px; border:1px solid #cdcdcd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.profile-side .hd,
.masters .hd {
	padding:0px 14px; background-color:#ededed; border-bottom:1px solid #cdcdcd;
	-webkit-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	background:-moz-linear-gradient(top,  #ffffff 4%, #efefef 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #ffffff 4%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #ffffff 4%,#efefef 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #ffffff 4%,#efefef 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #ffffff 4%,#efefef 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.profile-side .hd-t,
.masters .hd-t { font-size:14px; line-height:34px; }
.ui-btn-big { display:block; }

/*边栏主人模块*/
.masters { padding:10px; text-align:center; }
.masters .pic { position:relative; }
.masters .tag { position:absolute; bottom:10px; right:0px; height:28px; background-color:#e75158; line-height:28px; color:#ffffff; }
.masters .tag strong { position:relative; display:block; padding:0px 5px; }
.masters .tag strong:before { position:absolute; top:0px; left:-28px; content:""; width:0px; height:0px; border-width:14px; border-style:solid; border-color:transparent #e75158 transparent transparent; overflow:hidden; }
.masters img { width:100%; height:auto; }
.masters .name { display:block; padding:10px 0px; font-size:24px; }
.masters .meta { padding-bottom:10px; margin:0px; font-size:14px; color:#999999; }

/*边栏验证模块*/
.sns-list li { position:relative; padding:8px 56px; border-bottom:1px solid #e5e5e5; font-size:12px; }
.sns-list li:last-child { border-bottom:none; }
.sns-list strong { font-weight:400; }
.sns-list span { display:block; color:#999999; }
.sns-list li:before,
.sns-list li:after { position:absolute; content:""; background-image:url(../img/icon-sns.png); background-repeat:no-repeat; }
.sns-list li:before { top:12px; left:14px; width:18px; height:18px; }
.sns-list li:after { top:14px; right:18px; width:24px; height:24px; }
.sns-list .tel:before { background-position:0px 0px; }
.sns-list .facebook:before { background-position:0px -18px; }
.sns-list .twitter:before { background-position:0px -36px; }
.sns-list .linkedin:before { background-position:0px -54px; }
.sns-list .sina:before { background-position:0px -72px; }
.sns-list .tencent:before { background-position:0px -90px; }
.sns-list .score:before { background-position:0px -108px; }
.sns-list li:after { background-position:0px -126px; }


/*预订*/
.booking {
	margin-bottom:10px; border:1px solid #cdcdcd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.booking .bd,
.booking .ft { padding:10px; }
.booking .prices { font-size:40px; line-height:1.2; border-bottom:1px dotted #cdcdcd; }
.booking .group-input { position:relative; padding-top:10px; min-height:30px; z-index:10; }
.booking .input-date-wrap { margin-right:6px; }
.booking .ui-input-wrap { float:left; }
.booking .input-date { width:96px; }
.booking .input-person { width:78px; }
.booking .ft { border-top:1px solid #cdcdcd; }
.booking-schedule { position:absolute; top:0px; left:220px; z-index:20; display:none; width:710px; min-height:100px; background-color:#ffffff; font-size:12px; }
.booking-schedule .inner { position:relative; border:1px solid #0088cc; }
.booking-schedule .i-arrow { position:absolute; top:16px; left:-11px; width:11px; height:21px; background-image:url(../img/icon-widget.png); background-repeat:no-repeat; background-position:0px -164px; }
.booking-schedule .close { position:absolute; top:-15px; right:-15px; float:none; width:30px; height:30px; background-image:url(../img/icon-widget.png); background-repeat:no-repeat; background-position:0px -227px; text-indent:-999px; overflow:hidden; opacity:1; text-shadow:none; filter:none }
.schedule-list { table-layout:fixed; width:99.8%; border-collapse:collapse; border-spacing:0px; text-align:center; }
.schedule-list th { padding:0px; background-color:#ffffff; cursor:pointer; font-weight:400; }
.schedule-list td { height:26px; padding:0px; border:1px solid #cdcdcd; background-color:#ffffff; cursor:pointer; overflow:hidden; }
.schedule-list .title { width:36px; }
.schedule-list .title b { display:block; height:36px; background-image:url(../img/icon-widget.png); background-repeat:no-repeat; background-position:0px -128px; }
.schedule-list .day { border-color:#ffffff #cdcdcd #ffffff #ffffff; }
.schedule-list .disabled { background-color:#c0c0c0; }
.schedule-list .choose { background-image:url(../img/icon-widget.png); background-repeat:no-repeat; background-position:0px -60px; }
.booking-schedule .mod-ft { padding:6px; }
.booking-schedule .action-add { float:left; width:24px; height:24px; background-image:url(../img/icon-widget.png); background-repeat:no-repeat; background-position:0px -36px; text-indent:-999px; overflow:hidden; }
.booking-schedule .tips { padding:2px 4px; overflow:hidden; color:#3e3e3e; }
.booking-schedule .tips li { float:left; padding-right:26px; }
.booking-schedule .tips b { display:inline-block; width:28px; height:20px; margin-right:6px; background-image:url(../img/icon-widget.png); background-repeat:no-repeat; vertical-align:-5px; }
.booking-schedule .tips .i-my { background-position:6px -65px; }
.booking-schedule .tips .i-can { background-position:0px -88px; }
.booking-schedule .tips .i-cannot { background-position:0px -108px; }