@charset "utf-8";
/* CSS Document */

/**
 * date:2013-5-18 11:27:37;
 * explanation:交易部分相关页面;
 */
.orders-step-title { margin-bottom:20px; border-bottom:1px solid #cdcdcd; }
.orders-step-title .hd-t { display:inline-block; padding-right:20px; font-size:18px; }
.orders-step-title .hd-extra { color:#999999; font-size:12px; }

/**
 * 流程类
 */
/*订单流程*/
.orders-step,
.orders-step:before { background-image:url(../img/bg-orders-step.png); background-repeat:no-repeat; }
.orders-step { position:relative; width:660px; height:26px; margin:40px auto; background-position:0px 0px; font-size:12px; }
.orders-step:before { position:absolute; top:0px; left:0px; z-index:2; content:""; width:145px; height:26px; background-position:0px -26px; }
.orders-step-1:before { width:145px; }
.orders-step-2:before { width:276px; }
.orders-step-3:before { width:409px; }
.orders-step-4:before { width:660px; }
.orders-step li { position:relative; z-index:3; float:left; width:145px; height:26px; }
.orders-step .step-1 { width:145px; }
.orders-step .step-2 { width:132px; }
.orders-step .step-3 { width:132px; }
.orders-step .step-4 { width:251px; }
.orders-step .tips { position:absolute; top:30px; width:132px; text-align:center; }
.orders-step .time { display:block; color:#999999; }
.orders-step .step-1 .tips { right:-54px; }
.orders-step .step-2 .tips { right:-54px; }
.orders-step .step-3 .tips { right:-54px; }
.orders-step .step-4 .tips { left:54px; }

/*提示*/
.description-tips { padding:34px 0px 14px 0px; margin-bottom:20px; border-bottom:1px dashed #cdcdcd; color:#999999; }

/**
 * 列表类
 */
/*旅客列表*/
.traveler-list { }
.traveler-list .user { }
/*时间表*/
.guide-schedule .ui-input-line { margin-bottom:10px; }
.booking-schedule { display:none; font-size:12px; border-spacing:0px; }
.schedule-list { table-layout:fixed; width:100%; border-collapse:collapse; text-align:center; }
.schedule-list td { border:1px solid #cdcdcd; }
.schedule-list .td-day { width:100px; }
.schedule-list .td-all { width:80px; }
.schedule-list .ui-checkbox { width:30px; height:30px; margin:0px auto; background-color:transparent; border:none; }
/*游玩时间列表*/
.travel-time-list li { position:relative; padding:6px 200px 6px 100px; }
.travel-time-list strong { position:absolute; top:6px; left:0px; font-weight:400; color:#0088cc; }
.travel-time-list span { display:inline-block; padding-right:20px; }

/**
 * 通用模块类
 */
.guide-mod { clear:both; margin-bottom:10px; }
.guide-mod .hd { padding:12px 0px; overflow:hidden; }
.guide-mod .hd-t { display:inline-block; padding-right:10px; line-height:1; }
.guide-mod .hd-extra { font-weight:400; }
.guide-mod .hd-extra span { color:#ff6600; }
.guide-mod .bd { padding:20px; border:1px solid #cdcdcd; border-radius:5px; }
.guide-mod p { margin:0px; }
.guide-mod .quantity { padding:0px 4px; color:#ff0000; }
.guide-mod .ui-input-line { display:none; min-height:30px; padding:0px 0px; }
.guide-mod .ui-input-wrap { float:left; margin-right:10px; }
.guide-mod select { margin-bottom:0px; }
.guide-mod .ui-btn-small { padding:4px 20px; }
.guide-mod .btn-wrap { display:none; padding:20px 0px 0px 0px; text-align:right; }
.guide-mod .btn-wrap .ui-btn-big { padding-left:50px; padding-right:50px; }

/*图片列表*/
.gallery-mod { padding:20px 18px; margin-top:20px; background-color:#fffceb; border:1px solid #eed97c; }
.gallery-mod .hd { padding:0px 3px 6px 3px; }
.gallery-mod .hd-t { font-size:14px; font-weight:400; line-height:inherit; }
.gallery-mod .bd { padding-top:3px; }
.gallery-mod .gallery-thumb-list { position:static; overflow:hidden; }
.gallery-mod .gallery-thumb-list li { padding:0px 3px; }
/*景点、线路*/
.attractions-list li,
.itinerary-list li { position:relative; }
.attractions-list li:before,
.itinerary-list li:before { position:absolute; left:0px; content:""; z-index:2; width:18px; height:18px; background-image:url(../img/_icon-sprite.png); }
/*景点*/
.attractions .bd { padding:0px; border:none; }
.attractions-list { width:auto; padding:20px; margin-top:10px; background-color:#e8f7fe; border:1px solid #b2ddf1; border-radius:5px; overflow:hidden; }
.attractions-list li { float:left; width:33%; padding:6px 0px; cursor:pointer; }
.attractions-list p { float:left; max-width:80%; padding-left:24px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.attractions-list li:before { top:50%; margin-top:-9px; background-position:-5px -33px; }
.attractions-list li:hover:before {
	-webkit-animation:bounce 1s .2s ease both;
	-moz-animation:bounce 1s .2s ease both;
}
.attractions-list .i-remove { display:none; margin-left:10px; }
.attractions-list .empty { text-indent:0px; color:#0088cc; }
.attractions-list .empty:before { display:none; }
/*线路*/
.itinerary-list { padding:20px 4px 0px 4px; }
.itinerary-list li { padding:6px 0px 6px 24px; }
.itinerary-list li:before { top:7px; background-position:-5px -146px; }
.itinerary-list li:hover:before {
	-webkit-animation:rotate 1s .2s ease both;
	-moz-animation:rotate 1s .2s ease both;
}
/*旅伴*/
.companion-active { table-layout:fixed; width:100%; }
.companion-active td { width:100px; vertical-align:top; }
.companion-active .user { width:100px; }
.companion-active .name { font-weight:700; }
.companion-active .operate { width:auto; }
.companion-active .amount-price { color:#ff6600; }
.companion-active .operate { text-align:right; vertical-align:middle; }
.companion-active .operate .btn-book-small { display:none; }

/*描述*/
.msg-description .bd { padding:0px; border:none; }
.msg-description .input-area { width:942px; height:180px; min-width:942px; max-width:942px; min-height:180px; }
/*错误提示*/
.alert-error-list { padding:10px 0px; font-size:12px; }
.alert-error-list li { position:relative; padding:4px 0px; }
.alert-error-list label { position:absolute; top:50%; right:0px; margin:0px; margin-top:-7px; font-size:12px; }

/*结算信息*/
.guide-amount { text-align:right; }
.guide-amount .pay-info { padding-right:20px; font-size:20px; line-height:30px; vertical-align:-4px; }
.guide-amount .pay-info .price { color:#ff0000; font-size:30px; vertical-align:-3px; }
.guide-amount .ui-btn-big { padding-left:40px; padding-right:40px; }



/****************************
 * date:2013-5-23 15:32:10;
 * explanation:在编辑状态下;
 ****************************/
.ui-backdrop {
	position:fixed; top:0px; right:0px; bottom:0px; left:0px; z-index:998; background-color:#ffffff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.ui-backdrop.in {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6;
}
.status-editing { position:relative; z-index:9999; background-color:#ffffff; }
.status-editing .bd { padding:20px; border:1px solid #ff0000; }
.status-editing .edit { display:none; }
.status-editing .J-current-result { display:none; }

.status-editing .history-companions,
.status-editing .travel-companions,
.status-editing .ui-input-line,
.status-editing .btn-wrap { display:block; }
/*景点*/
.status-editing .attractions-list .i-remove { display:inline-block; }

/*旅伴列表*/
.travel-companions { position:relative; display:none; padding:20px 30px 20px 60px; margin-top:20px; border-top:1px solid #cdcdcd; }
.travel-companions .page-prev,
.travel-companions .page-next { position:absolute; top:50%; margin-top:-15px; }
.travel-companions .page-prev { left:10px; }
.travel-companions .page-next { right:10px; }
.travel-companions .list { height:78px; overflow:hidden; }
.travel-companions .list-item { float:left; width:25%; overflow:hidden; }
.travel-companions .user { float:left; }
.travel-companions .info { padding-left:10px; overflow:hidden; font-size:14px; }
.travel-companions .price { padding:5px 0px; color:#999999; }
.travel-companions .group-btn { overflow:hidden; }
.travel-companions .btn-book-small { padding-top:3px; padding-bottom:3px; }
.travel-companions .ui-checkbox { float:left; margin-top:4px; margin-left:32px; }
/*第一次所*/
.history-companions { display:none; }
.history-companions .mod-hd-t { margin-bottom:10px; font-size:14px; }
.history-companions .mod-bd { padding:10px; background-color:#e4f6ff; border:1px dashed #98dcff; }
.history-companions .operate .btn-book-small { display:inline-block; }


/**
 * date:2013-5-24 14:41:14;
 * explanation:接收/拒绝订单;
 */
.orders-traveler { height:78px; }
.orders-traveler .user { float:left; }
.orders-traveler .info { float:left; padding:10px 20px; }
.orders-traveler .group-btn { padding-top:10px; overflow:hidden; }
.orders-traveler .btn-book-small { padding-top:3px; padding-bottom:3px; }
.orders-traveler .info-quantity { padding:28px 0px; overflow:hidden; }