@charset "utf-8";
/* CSS Document */

/*base reset*/
h1, h2, h3, h4, h5, h6, ul, ol { padding:0px; margin:0px; list-style:none; }

/*content layout*/
.content { width:956px; margin:0px auto; }
.content-inner {
	border:1px solid #cdcdcd; overflow:hidden;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}
.content:after,
.content-inner:after { clear:both; display:block; height:0px; overflow:hidden; visibility:hidden; content:""; }

.content .col-side { float:left; width:200px; padding-bottom:9999px; margin-bottom:-9999px; border-right:1px solid #cdcdcd; }
.content .col-main { padding:20px; overflow:hidden; }

/*面包屑*/
.crumb-mod {
	position:relative; 
	padding:12px 20px; margin-bottom:0px; border-bottom:1px solid #e6e6e6;
	-webkit-border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px; border-radius:5px 5px 0px 0px;
	background:#fcfcfc; /* Old browsers */
	background:-moz-linear-gradient(top,  #fcfcfc 0%, #f2f2f2 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #fcfcfc 0%,#f2f2f2 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
.crumb-mod .breadcrumb { padding:0px; margin-bottom:0px; background-color:transparent; }
.crumb-mod .breadcrumb .icon-home { margin-right:12px; }
.crumb-mod .btn-view-middle { position:absolute; top:50%; right:20px; margin-top:-15px; }


/*当前用户*/
.current-user { padding:15px; overflow:hidden; }
.current-user img { width:48px!important; height:48px!important; padding:2px; margin-right:8px; border:1px solid #cdcdcd; }

/*按钮*/
/*不直接使用public.css里面的公共样式，因为这个dashboard页面基本都是独立于前台页面的*/
.ui-btn-middle span,
.ui-btn-middle:before,
.ui-btn-middle:after { background-image:url(../img/ui-btn.png); background-repeat:no-repeat; }
.ui-btn-middle { position:relative; display:block; padding:0px 5px; }
.ui-btn-middle span { display:block; height:30px; background-position:0px -654px; background-repeat:repeat-x; line-height:30px; font-weight:400; font-size:14px; text-align:center; color:#333333; overflow:hidden; }
.ui-btn-middle i,
.ui-btn-middle b { margin-right:4px; }
.ui-btn-middle:before,
.ui-btn-middle:after { position:absolute; top:0px; bottom:0px; content:""; width:5px; }
.ui-btn-middle:before { left:0px; background-position:0px -624px; }
.ui-btn-middle:after { right:0px; background-position:-5px -624px; }
.ui-btn-middle:hover { text-decoration:none; }
.ui-btn-middle:hover span { background-position:0px -714px; }
.ui-btn-middle:hover:before { background-position:0px -684px; }
.ui-btn-middle:hover:after { background-position:-5px -684px; }
/*预览*/
.btn-view-middle { width:124px; }

/*边栏导航*/
.nav-list { padding:15px 35px; }
.nav-list>li>a { padding:3px 35px; margin-left:-35px; margin-right:-35px; }

/*主体栏目的默认标题*/
.mod-title { position:relative; padding:18px; margin:10px -20px; border-width:1px 0px; border-style:solid; border-color:#cdcdcd transparent; }
.mod-title:first-child { margin-top:-20px; border-top:none; }
.mod-title .mod-hd { float:left; font-size:14px; padding-right:18px; line-height:32px; }
.mod-title .mod-hd i[class*='i-'] { display:inline-block; width:32px; height:32px; margin-top:-4px; background-image:url(../img/icon-dashboard.png); background-repeat:no-repeat; vertical-align:middle; }
.mod-title .mod-extra { padding:6px 0px; margin:0px; color:#999999; overflow:hidden; }
.mod-title .mod-hd .i-video { background-position:0px 0px; }
.mod-title .mod-hd .i-photo { background-position:0px -32px; }

/*普通文章列表模块*/
.article { }
.article .hd { }
.article .hd-t { font-size:14px; }
.article .bd { color:#999999; }
.article-list { list-style:disc; list-style-position:inside; overflow:hidden; }
.article-list li { float:left; width:50%; padding:2px 0px; }
.article-list a { color:#999999; }

/*验证列表*/
.verification-list li { position:relative; padding-right:275px; padding-bottom:20px; margin-bottom:30px; border-bottom:1px dashed #cdcdcd; }
.verification-list .dl { margin:0px; }
.verification-list .dt { position:relative; margin-bottom:10px; padding-left:34px; font-weight:700; font-size:14px; }
.verification-list .dt:before { position:absolute; top:50%; left:0px; content:""; width:32px; height:32px; margin-top:-16px; background-image:url(../img/bg-dashboard.png); background-repeat:no-repeat; }
.verification-list .sina .dt:before { background-position:0px 0px; }
.verification-list .qq .dt:before { background-position:0px -32px; }
.verification-list .facebook .dt:before { background-position:0px -64px; }
.verification-list .linkedin .dt:before { background-position:0px -96px; }
.verification-list .email .dt:before { background-position:0px -128px; }
.verification-list .offline .dt:before { background-position:0px -160px; }
.verification-list .phone .dt:before { background-position:0px -192px; }
.verification-list .dd { margin:0px; padding-left:34px; font-size:13px; }
.verification-list .dd p { margin-bottom:10px; }
.verification-list .btn-verify-big,
.verification-list .verified { position:absolute; top:50%; right:10px; width:100px; }
.verification-list .btn-verify-big { margin-top:-19px; }
.verification-list .verified { padding:0px 11px; margin-top:-26px; background-color:#ffffff; text-align:center; }
.verification-list .verified .i-verified { display:block; width:32px; height:32px; margin:0px auto; background-image:url(../img/bg-dashboard.png); background-repeat:no-repeat; background-position:0px -224px; }


/**
 * 电话号码验证
 */
.verified-phone .i-verified,
.verified-phone .remove,
.btn-addphone-small i.i-add { width:20px; height:20px; background-image:url(../img/bg-dashboard.png); background-repeat:no-repeat; background-position:0px -256px; }
/*添加新号码*/
.verify-phone {
	padding:15px; margin-bottom:10px; background-color:#ececec; border:1px solid #cdcdcd;
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.15);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.15);
	box-shadow:inset 0 0 10px rgba(0,0,0,0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.verify-phone .phone-prefix {
	float:left; min-width:30px; padding:0px 4px; border:1px solid #cdcdcd; border-right:none; line-height:28px; text-align:center;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	-webkit-box-shadow:inset 0 0 1px rgba(255,255,255,0.8);
	-moz-box-shadow:inset 0 0 1px rgba(255,255,255,0.8);
	box-shadow:inset 0 0 1px rgba(255,255,255,0.8);
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.verify-phone .input-line { min-height:30px; margin-bottom:10px; }
.verify-phone .label-t { float:left; width:100px; height:30px; margin:0px; line-height:30px; }
.verify-phone select { margin:0px; }
.verify-phone .input-txt {
	width:167px; margin:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-top-left-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
/*已经验证的电话号码*/
.verified-phone { margin-bottom:10px; table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0px; border:1px solid #cdcdcd; }
.verified-phone td { padding:8px 10px; border:1px solid #cdcdcd; }
.verified-phone .phone-number { width:130px; background-color:#ececec; }
.verified-phone .status { border-right:none; }
.verified-phone .operate { width:20px; border-left:none; }
.verified-phone .verified-tips { color:#5bb013; }
.verified-phone .btn-verify-sms { vertical-align:-6px; }
.verified-phone .i-verified { display:inline-block; margin-right:4px; background-position:0px -296px; vertical-align:-5px; }
.verified-phone .remove { display:block; background-position:0px -276px; text-indent:-999px; overflow:hidden; }
/*新增电话号码按钮*/
.btn-addphone-small i.i-add { vertical-align:-5px; }